body {
    background: rgb(49, 53, 57);
    color: white;
    font-family: 'Roboto', sans-serif !important;
}
button {
    border: solid white 1px !important;
    background: none !important;
}
i {
    font-size: 5vmin;
}
a {
    color: white !important;
}
hr {
    border-color: rgba(255, 255, 255, 0.473);
}
iframe {
    width: 600px;
    height: 439px;   
}
.m-bot-60 {
    margin-bottom: 60px !important;
}
.purple-gradient-bg-top {
    background: rgb(149,97,160);
    background: linear-gradient(0deg, rgba(149,97,160,1) 0%, rgba(17,33,87,1) 100%);
}
.sunny-gradient-bg-top {
    background: rgb(149,97,160);
    background: linear-gradient(0deg, rgb(71, 166, 218) 0%, rgb(16, 47, 150) 100%);
}
.cloudy-gradient-bg-top {
    background: rgb(149,97,160);
    background: linear-gradient(0deg, rgb(172, 172, 172) 0%, rgb(69, 69, 69) 100%);
}
.rainy-gradient-bg-top {
    background: rgb(149,97,160);
    background: linear-gradient(0deg, rgb(123, 123, 123) 0%, rgb(53, 53, 53) 100%);
}
.night-gradient-bg-top {
    background: rgb(149,97,160);
    background: linear-gradient(0deg, rgb(39, 45, 109) 0%, rgb(19, 9, 51) 100%);
}
.purple-gradient-bg {
    background: rgb(149,97,160);
    background: linear-gradient(109deg, rgba(149,97,160,1) 0%, rgba(17,33,87,1) 100%);
}
.sunny-gradient-bg {
    background: rgb(149,97,160);
    background: linear-gradient(109deg, rgb(71, 166, 218) 0%, rgb(16, 47, 150) 100%);
}
.cloudy-gradient-bg {
    background: rgb(149,97,160);
    background: linear-gradient(109deg, rgb(172, 172, 172) 0%, rgb(69, 69, 69) 100%);
}
.rainy-gradient-bg {
    background: rgb(149,97,160);
    background: linear-gradient(109deg, rgb(123, 123, 123) 0%, rgb(53, 53, 53) 100%);
}
.night-gradient-bg {
    background: rgb(149,97,160);
    background: linear-gradient(109deg, rgb(39, 45, 109) 0%, rgb(19, 9, 51) 100%);
}
.btn:hover, a:hover {
    border-color: rgb(225, 225, 225) !important;
    color: rgb(225, 225, 225);
}
.city {
    font-size: 8vmin;
}
.time {
    font-size: 4vmin;
}
.sky {
    font-size: 6vmin !important;
}
.temp {
    font-size: 16vmin !important;
}
.weather-logo {
    font-size: 6vmin;
}
.max-temp, .min-temp {
    font-size: 4vmin;
}
.extra-info {
    background: rgba(49, 53, 57, 0.37);
    max-width: 600px;
}
/* .col-md-6 {
    border: solid white 1px;
    border-radius: 10px;
} */

@media screen and (max-width: 980px) {
    iframe, .extra-info {
        max-width: 400px;
    }
  }

@media screen and (max-width: 428px) {
    iframe, .extra-info {
        width: 300px !important;
    }
}

@media screen and (max-width: 328px) {
    iframe, .extra-info {
        width: 280px !important;
    }
}